<mat-card class="cardWithShadow theme-card">
    <mat-card-header>
      <mat-card-title>Modifier un étudiant</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <form (ngSubmit)="updateStudent()">
        <div class="row">
          <!-- Champ Prénom -->
          <div class="col-lg-4 col-sm-6">
            <mat-form-field class="w-100" appearance="outline">
              <mat-label>Prénom</mat-label>
              <input
                matInput
                [(ngModel)]="student.firstName"
                name="firstName"
                placeholder="Entrer le prénom"
                required
              />
            </mat-form-field>
          </div>
  
          <!-- Champ Nom -->
          <div class="col-lg-4 col-sm-6">
            <mat-form-field class="w-100" appearance="outline">
              <mat-label>Nom</mat-label>
              <input
                matInput
                [(ngModel)]="student.lastName"
                name="lastName"
                placeholder="Entrer le nom"
                required
              />
            </mat-form-field>
          </div>
  
          <!-- Champ Email -->
          <div class="col-lg-4 col-sm-6">
            <mat-form-field class="w-100" appearance="outline">
              <mat-label>Email</mat-label>
              <input
                matInput
                [(ngModel)]="student.email"
                name="email"
                placeholder="Entrer l'email"
                required
                type="email"
              />
            </mat-form-field>
          </div>
        </div>
  
        <div class="row">
          <!-- Champ Rue -->
          <div class="col-lg-4 col-sm-6">
            <mat-form-field class="w-100" appearance="outline">
              <mat-label>Rue</mat-label>
              <input
                matInput
                [(ngModel)]="student.street"
                name="street"
                placeholder="Entrer la rue"
                required
              />
            </mat-form-field>
          </div>
  
          <!-- Champ Ville -->
          <div class="col-lg-4 col-sm-6">
            <mat-form-field class="w-100" appearance="outline">
              <mat-label>Ville</mat-label>
              <input
                matInput
                [(ngModel)]="student.city"
                name="city"
                placeholder="Entrer la ville"
                required
              />
            </mat-form-field>
          </div>
        </div>
  
        <!-- Bouton Modifier -->
        <div class="row m-t-16">
          <div class="col-lg-12">
            <button mat-flat-button color="primary" type="submit">
              Modifier
            </button>
          </div>
        </div>
      </form>
    </mat-card-content>
  </mat-card>
  